header {
    background-color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


header a {
    color: #27ae60;       
    font-size: 24px;       
    padding: 10px 12px;
    border-radius: 10px;
    transition: 0.3s;
}

header a:hover {
    background-color: #e0f2e9;
}
